{
  "Entries": [
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName?api-version=2015-10-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName' under resource group 'mirichmo-aatest-wus2-rg' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName?api-version=2015-10-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName\",\r\n  \"name\": \"TestRunbookName\",\r\n  \"type\": \"Microsoft.Automation/AutomationAccounts/Runbooks\",\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"etag\": \"\\\"636766954250600000\\\"\",\r\n  \"properties\": {\r\n    \"description\": null,\r\n    \"logVerbose\": false,\r\n    \"logProgress\": false,\r\n    \"logActivityTrace\": 0,\r\n    \"runbookType\": \"PowerShell\",\r\n    \"parameters\": {},\r\n    \"state\": \"New\",\r\n    \"jobCount\": 0,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"serviceManagementTags\": null,\r\n    \"outputTypes\": [],\r\n    \"creationTime\": \"2018-11-01T11:57:05.06-07:00\",\r\n    \"lastModifiedBy\": null,\r\n    \"lastModifiedTime\": \"2018-11-01T11:57:05.06-07:00\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "ETag": [
          "\"636766954250600000\""
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2?api-version=2015-10-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"mirichmo-aatest-WUS2\",\r\n  \"id\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2\",\r\n  \"type\": \"Microsoft.Automation/AutomationAccounts\",\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"etag\": null,\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"Basic\",\r\n      \"family\": null,\r\n      \"capacity\": null\r\n    },\r\n    \"state\": \"Ok\",\r\n    \"RegistrationUrl\": \"https://wus2-agentservice-prod-1.azure-automation.net/accounts/0e31aee2-72bd-4a1f-8eb8-49f876664621\",\r\n    \"creationTime\": \"2018-07-27T10:29:14.9566667-07:00\",\r\n    \"lastModifiedBy\": null,\r\n    \"lastModifiedTime\": \"2018-11-01T10:07:37.5266667-07:00\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ocp-automation-accountid": [
          "0e31aee2-72bd-4a1f-8eb8-49f876664621"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName?api-version=2015-10-31",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"logVerbose\": false,\r\n    \"logProgress\": false,\r\n    \"runbookType\": \"PowerShell\",\r\n    \"draft\": {\r\n      \"creationTime\": \"0001-01-01T00:00:00-08:00\",\r\n      \"lastModifiedTime\": \"0001-01-01T00:00:00-08:00\"\r\n    }\r\n  },\r\n  \"name\": \"TestRunbookName\",\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName\",\r\n  \"name\": \"TestRunbookName\",\r\n  \"type\": \"Microsoft.Automation/AutomationAccounts/Runbooks\",\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"etag\": \"\\\"636766954250600000\\\"\",\r\n  \"properties\": {\r\n    \"description\": null,\r\n    \"logVerbose\": false,\r\n    \"logProgress\": false,\r\n    \"logActivityTrace\": 0,\r\n    \"runbookType\": \"PowerShell\",\r\n    \"parameters\": {},\r\n    \"state\": \"New\",\r\n    \"jobCount\": 0,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"serviceManagementTags\": null,\r\n    \"outputTypes\": [],\r\n    \"creationTime\": \"2018-11-01T11:57:05.06-07:00\",\r\n    \"lastModifiedBy\": null,\r\n    \"lastModifiedTime\": \"2018-11-01T11:57:05.06-07:00\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-location": [
          "https://management.azure.com/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName?api-version=2015-10-31"
        ],
        "ocp-location": [
          "https://management.azure.com/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName?api-version=2015-10-31"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "ETag": [
          "\"636766954250600000\""
        ],
        "Location": [
          "https://management.azure.com/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName?api-version=2015-10-31"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName/draft/content?api-version=2015-10-31",
      "RequestMethod": "PUT",
      "RequestBody": "Write-Output \"No parameters webhook\"\r\n",
      "RequestHeaders": {
        "Content-Type": [
          "text/powershell"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "30"
        ],
        "ocp-automation-operationresultid": [
          "4e803b10-9ede-4b91-8bd0-aab98077155a",
          "4e803b10-9ede-4b91-8bd0-aab98077155a"
        ],
        "x-ms-location": [
          "https://management.azure.com/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName/draft/content/operationResults/4e803b10-9ede-4b91-8bd0-aab98077155a?api-version=2015-10-31"
        ],
        "ocp-location": [
          "https://management.azure.com/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName/draft/content/operationResults/4e803b10-9ede-4b91-8bd0-aab98077155a?api-version=2015-10-31"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName/draft/content/operationResults/4e803b10-9ede-4b91-8bd0-aab98077155a?api-version=2015-10-31"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName/draft/content/operationResults/4e803b10-9ede-4b91-8bd0-aab98077155a?api-version=2015-10-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "text/plain; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName/draft/publish?api-version=2015-10-31",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "30"
        ],
        "ocp-automation-operationresultid": [
      [...]
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName/draft/publish/operationResults/c0cd1e9d-89e9-4980-8ce0-8aa1c80ad922?api-version=2015-10-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "text/plain; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookTwoParamsName?api-version=2015-10-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookTwoParamsName' under resource group 'mirichmo-aatest-wus2-rg' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookTwoParamsName?api-version=2015-10-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookTwoParamsName\",\r\n  \"name\": \"TestRunbookTwoParamsName\",\r\n  \"type\": \"Microsoft.Automation/AutomationAccounts/Runbooks\",\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"etag\": \"\\\"636766955174033333\\\"\",\r\n  \"properties\": {\r\n    \"description\": null,\r\n    \"logVerbose\": false,\r\n    \"logProgress\": false,\r\n    \"logActivityTrace\": 0,\r\n    \"runbookType\": \"PowerShell\",\r\n    \"parameters\": {\r\n      \"First\": {\r\n        \"type\": \"System.String\",\r\n        \"isMandatory\": true,\r\n        \"position\": 0,\r\n        \"defaultValue\": null\r\n      },\r\n      \"Second\": {\r\n        \"type\": \"System.Int32\",\r\n        \"isMandatory\": true,\r\n        \"position\": 1,\r\n        \"defaultValue\": null\r\n      }\r\n    },\r\n    \"state\": \"Published\",\r\n    \"jobCount\": 0,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"serviceManagementTags\": null,\r\n    \"outputTypes\": [],\r\n    \"creationTime\": \"2018-11-01T11:58:06.81-07:00\",\r\n    \"lastModifiedBy\": null,\r\n    \"lastModifiedTime\": \"2018-11-01T11:58:37.4033333-07:00\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11983"
        ],
        "ETag": [
          "\"636766955174033333\""
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookTwoParamsName/draft/content?api-version=2015-10-31",
      "RequestMethod": "PUT",
      "RequestBody": "param\r\n    (\r\n        [Parameter (Mandatory = $true)]\r\n        [String] $First,\r\n    \r\n        [Parameter (Mandatory = $true)]\r\n        [Int] $Second\r\n    )\r\n    \r\n    [...]
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookTwoParamsName/draft/content/operationResults/004586a4-bf45-43d9-adc0-0e485e1fb9dd?api-version=2015-10-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "text/plain; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookTwoParamsName/draft/publish?api-version=2015-10-31",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "30"
        ],
        "ocp-automation-operationresultid":[...]
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookTwoParamsName/draft/publish/operationResults/2f9a37ea-db10-48ca-b1ae-8acc32366a26?api-version=2015-10-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "text/plain; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11985"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/webhooks/generateUri?api-version=2015-10-31",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "\"https://s15events.azure-automation.net/webhooks?token=UD8iSe%2fGd%2b7RUpBI7NGE4fbqPJFu5NL%2fi80uShuS%2bpM%3d\"",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/webhooks/testWebhookName-3fa8650e-d364-4c4a-8a95-9dd13766ef1b?api-version=2015-10-31",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"testWebhookName-3fa8650e-d364-4c4a-8a95-9dd13766ef1b\",\r\n  \"properties\": {\r\n    \"isEnabled\": false,\r\n    \"uri\": \"https://s15events.azure-automation.net/webhooks?token=UD8iSe%2fGd%2b7RUpBI7NGE4fbqPJFu5NL%2fi80uShuS%2bpM%3d\",\r\n    \"expiryTime\": \"2018-11-02T11:59:08.2377361-07:00\",\r\n    \"parameters\": {\r\n      \"Second\": \"1337\",\r\n      \"First\": \"\\\"NameParam\\\"\"\r\n    },\r\n    \"runbook\": {\r\n      \"name\": \"TestRunbookTwoParamsName\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/webhooks/testWebhookName-3fa8650e-d364-4c4a-8a95-9dd13766ef1b\",\r\n  \"name\": \"testWebhookName-3fa8650e-d364-4c4a-8a95-9dd13766ef1b\",\r\n  \"type\": \"Microsoft.Automation/AutomationAccounts/Webhooks\",\r\n  \"properties\": {\r\n    \"isEnabled\": false,\r\n    \"expiryTime\": \"2018-11-02T11:59:08.2377361-07:00\",\r\n    \"runbook\": {\r\n      \"name\": \"TestRunbookTwoParamsName\"\r\n    },\r\n    \"lastInvokedTime\": null,\r\n    \"runOn\": null,\r\n    \"parameters\": {\r\n      \"Second\": \"1337\",\r\n      \"First\": \"\\\"NameParam\\\"\"\r\n    },\r\n    \"uri\": \"\",\r\n    \"creationTime\": \"2018-11-01T11:59:09.0218952-07:00\",\r\n    \"lastModifiedBy\": \"\",\r\n    \"lastModifiedTime\": \"2018-11-01T11:59:09.0218952-07:00\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1192"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/webhooks/testWebhookName-3fa8650e-d364-4c4a-8a95-9dd13766ef1b?api-version=2015-10-31"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName?api-version=2015-10-31",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14997"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "422b6c61-95b0-4213-b3be-7282315df71d"
  }
}