{
  "Entries": [
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName?api-version=2015-10-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName' under resource group 'mirichmo-aatest-wus2-rg' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName?api-version=2015-10-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName\",\r\n  \"name\": \"TestRunbookName\",\r\n  \"type\": \"Microsoft.Automation/AutomationAccounts/Runbooks\",\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"etag\": \"\\\"636766936940200000\\\"\",\r\n  \"properties\": {\r\n    \"description\": null,\r\n    \"logVerbose\": false,\r\n    \"logProgress\": false,\r\n    \"logActivityTrace\": 0,\r\n    \"runbookType\": \"PowerShell\",\r\n    \"parameters\": {},\r\n    \"state\": \"New\",\r\n    \"jobCount\": 0,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"serviceManagementTags\": null,\r\n    \"outputTypes\": [],\r\n    \"creationTime\": \"2018-11-01T11:28:14.02-07:00\",\r\n    \"lastModifiedBy\": null,\r\n    \"lastModifiedTime\": \"2018-11-01T11:28:14.02-07:00\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "ETag": [
          "\"636766936940200000\""
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2?api-version=2015-10-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"mirichmo-aatest-WUS2\",\r\n  \"id\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2\",\r\n  \"type\": \"Microsoft.Automation/AutomationAccounts\",\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"etag\": null,\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"Basic\",\r\n      \"family\": null,\r\n      \"capacity\": null\r\n    },\r\n    \"state\": \"Ok\",\r\n    \"RegistrationUrl\": \"https://wus2-agentservice-prod-1.azure-automation.net/accounts/0e31aee2-72bd-4a1f-8eb8-49f876664621\",\r\n    \"creationTime\": \"2018-07-27T10:29:14.9566667-07:00\",\r\n    \"lastModifiedBy\": null,\r\n    \"lastModifiedTime\": \"2018-11-01T10:07:37.5266667-07:00\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ocp-automation-accountid": [
          "0e31aee2-72bd-4a1f-8eb8-49f876664621"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName?api-version=2015-10-31",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"logVerbose\": false,\r\n    \"logProgress\": false,\r\n    \"runbookType\": \"PowerShell\",\r\n    \"draft\": {\r\n      \"creationTime\": \"0001-01-01T00:00:00-08:00\",\r\n      \"lastModifiedTime\": \"0001-01-01T00:00:00-08:00\"\r\n    }\r\n  },\r\n  \"name\": \"TestRunbookName\",\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName\",\r\n  \"name\": \"TestRunbookName\",\r\n  \"type\": \"Microsoft.Automation/AutomationAccounts/Runbooks\",\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"etag\": \"\\\"636766936940200000\\\"\",\r\n  \"properties\": {\r\n    \"description\": null,\r\n    \"logVerbose\": false,\r\n    \"logProgress\": false,\r\n    \"logActivityTrace\": 0,\r\n    \"runbookType\": \"PowerShell\",\r\n    \"parameters\": {},\r\n    \"state\": \"New\",\r\n    \"jobCount\": 0,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"serviceManagementTags\": null,\r\n    \"outputTypes\": [],\r\n    \"creationTime\": \"2018-11-01T11:28:14.02-07:00\",\r\n    \"lastModifiedBy\": null,\r\n    \"lastModifiedTime\": \"2018-11-01T11:28:14.02-07:00\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-location": [
          "https://management.azure.com/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName?api-version=2015-10-31"
        ],
        "ocp-location": [
          "https://management.azure.com/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName?api-version=2015-10-31"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "ETag": [
          "\"636766936940200000\""
        ],
        "Location": [
          "https://management.azure.com/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName?api-version=2015-10-31"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName/draft/content?api-version=2015-10-31",
      "RequestMethod": "PUT",
      "RequestBody": "Write-Output \"No parameters webhook\"\r\n",
      "RequestHeaders": {
        "Content-Type": [
          "text/powershell"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "30"
        ],
        "ocp-automation-operationresultid": [
          "fc791def-ea89-43b0-b85f-4fc1237b1329",
          "fc791def-ea89-43b0-b85f-4fc1237b1329"
        ],
        "x-ms-location": [
          "https://management.azure.com/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName/draft/content/operationResults/fc791def-ea89-43b0-b85f-4fc1237b1329?api-version=2015-10-31"
        ],
        "ocp-location": [
          "https://management.azure.com/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName/draft/content/operationResults/fc791def-ea89-43b0-b85f-4fc1237b1329?api-version=2015-10-31"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName/draft/content/operationResults/fc791def-ea89-43b0-b85f-4fc1237b1329?api-version=2015-10-31"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName/draft/content/operationResults/fc791def-ea89-43b0-b85f-4fc1237b1329?api-version=2015-10-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "text/plain; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName/draft/publish?api-version=2015-10-31",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "30"
        ],
        "ocp-automation-operationresultid": [
      [...]
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName/draft/publish/operationResults/0498210e-de78-4888-8edb-950e21e6cbc0?api-version=2015-10-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "text/plain; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookTwoParamsName?api-version=2015-10-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookTwoParamsName' under resource group 'mirichmo-aatest-wus2-rg' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookTwoParamsName?api-version=2015-10-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookTwoParamsName\",\r\n  \"name\": \"TestRunbookTwoParamsName\",\r\n  \"type\": \"Microsoft.Automation/AutomationAccounts/Runbooks\",\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"etag\": \"\\\"636766937862233333\\\"\",\r\n  \"properties\": {\r\n    \"description\": null,\r\n    \"logVerbose\": false,\r\n    \"logProgress\": false,\r\n    \"logActivityTrace\": 0,\r\n    \"runbookType\": \"PowerShell\",\r\n    \"parameters\": {\r\n      \"First\": {\r\n        \"type\": \"System.String\",\r\n        \"isMandatory\": true,\r\n        \"position\": 0,\r\n        \"defaultValue\": null\r\n      },\r\n      \"Second\": {\r\n        \"type\": \"System.Int32\",\r\n        \"isMandatory\": true,\r\n        \"position\": 1,\r\n        \"defaultValue\": null\r\n      }\r\n    },\r\n    \"state\": \"Published\",\r\n    \"jobCount\": 0,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"serviceManagementTags\": null,\r\n    \"outputTypes\": [],\r\n    \"creationTime\": \"2018-11-01T11:29:15.77-07:00\",\r\n    \"lastModifiedBy\": null,\r\n    \"lastModifiedTime\": \"2018-11-01T11:29:46.2233333-07:00\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11984"
        ],
        "ETag": [
          "\"636766937862233333\""
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookTwoParamsName/draft/content?api-version=2015-10-31",
      "RequestMethod": "PUT",
      "RequestBody": "param\r\n    (\r\n        [Parameter (Mandatory = $true)]\r\n        [String] $First,\r\n    \r\n        [Parameter (Mandatory = $true)]\r\n        [Int] $Second\r\n    )\r\n    \r\n    [...]
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookTwoParamsName/draft/content/operationResults/625990f6-0f37-41b9-b439-9abd627f2a27?api-version=2015-10-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "text/plain; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11988"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookTwoParamsName/draft/publish?api-version=2015-10-31",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "30"
        ],
        "ocp-automation-operationresultid":[...]
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookTwoParamsName/draft/publish/operationResults/074f1c85-e37a-43f1-bbd4-5d4a7b90188f?api-version=2015-10-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "text/plain; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11986"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/webhooks/generateUri?api-version=2015-10-31",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "\"https://s15events.azure-automation.net/webhooks?token=k7ldZAWLdjAmDFvASFBipPA%2b5ECKDeqGsJNth1mk%2fOY%3d\"",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/webhooks/testWebhookName-54ed2ef9-c540-4534-9c2c-d924d8e9de58?api-version=2015-10-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "Webhook not found.",
      "ResponseHeaders": {
        "Content-Type": [
          "text/plain; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11982"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mirichmo-aatest-wus2-rg/providers/Microsoft.Automation/automationAccounts/mirichmo-aatest-WUS2/runbooks/TestRunbookName?api-version=2015-10-31",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "422b6c61-95b0-4213-b3be-7282315df71d"
  }
}